.canvas-stream{
  display:grid;
  grid-template-columns: auto 602px auto;
}
.main-stream {
  padding: 60px 0;
  grid-gap: 60px;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
}
.card-heading {
  display:grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding:14px 20px;
}
.card-heading-user {
  display:grid;
  grid-template-columns: 45px auto;
  align-items: center;
}
.card-heading-user-name {
  font-weight:bold;
}
.card-info {
  padding:24px;
  display:grid;
  grid-gap: 12px;
}
.card-info-likes {
  font-weight: bold;
}
.card-info-comments {
  display:grid;
  grid-gap: 6px;
}
.card-info-comment-user {
  font-weight: bold;
  margin-right:10px;
}
.card-info-add-comment {
  border-top: 1px solid #e5e5e5;
  margin-top: 12px;
  padding-top: 24px;
  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
}
.card-info-add-comment-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

@media (max-width: 619px) {
  .canvas-stream{
    grid-template-columns: 0 auto 0;
  }
  .main-stream {
    padding: 20px 0;
    grid-gap: 20px;
  }
}